Flask==2.1.1
gunicorn==20.1.0 
numpy==1.21.6
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
wordcloud==1.8.2.2
nltk==3.8.1
spacy==3.5.2
gensim==4.3.0
torch==1.12.1
torchvision==0.13.1
transformers==4.21.1
imbalanced-learn==0.10.1
accelerate==0.20.1
wandb==0.15.5
setuptools>=65.5.0
wheel
werkzeug==2.0.3
protobuf==3.19.6
